@import './variables.scss';
@import './components.scss';

* {
    /* reset default styles */
    margin: 0;
    padding: 0;
    color: #fff;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
}

/* basic font size */
html {
    font-size: 20px;
}

/* make a footer always stick to the bottom even if there's no content on the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SCREEN ADAPTATION */
/* tablets */
@media (max-width: $tablet) {
    html {
        font-size: 18px;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    html {
        font-size: 16px;
    }
}
