@import '../../styles/variables.scss';

.header {
    background-color: transparent;
    transition: $transitionRegular;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    /* add these styles, when user scrolls down */
    &.header-scroll {
        background-color: rgba($blue, 0.97);
        box-shadow: 0 5px 5px 0 rgba($blue, 0.97);

        .header__inner {
            padding: 0.5rem 0;
        }
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    transition: $transitionRegular;
}

.header__logo {
    display: block;
    width: 10rem;
    position: relative;
    z-index: 1;
}

/* navigation links list */
.header__nav-list {
    display: flex;
    align-items: center;
    transition: $transitionRegular;

    /* li item */
    .header__nav-item {
        margin-left: 1.75rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-left: 0.75rem;
        }
    }
}

/* single navigation link */
.header__nav-link {
    display: inline-block;
    color: $white;
    font-size: 0.9rem;
    transition: $transitionRegular;
    outline: none;
    position: relative;

    /* bottom line */
    &::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $light-blue;
        border-radius: 20px;
        opacity: 0;
        transform: translate3d(0, -10px, 0);
        transition: $transitionRegular;
        position: absolute;
        left: 0;
        bottom: -3px;
        z-index: -1;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &.header__nav-link-active {
        opacity: 0.7;
    }
}

/* burger button */
.header__nav-btn {
    display: none;
    width: 32px;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    z-index: 10;

    .header__nav-btn-line {
        display: block;
        height: 4px;
        margin: 0 0 7px auto;
        background-color: $white;
        border-radius: 2px;
        transition: width 0.15s, opacity 0.1s, transform 0.3s;

        &:nth-child(2) {
            width: 75%;
        }

        &:nth-child(3) {
            width: 85%;
            margin-bottom: 0;
        }
    }

    &:hover {
        .header__nav-btn-line {
            width: 100%;
        }
    }

    /* styles when menu is shown */
    &.header__nav-btn-active {
        .header__nav-btn-line {
            &:nth-child(1) {
                width: 100%;
                transform: rotate(135deg) translate(8px, -3px);
            }

            &:nth-child(2) {
                opacity: 0;
                width: 0%;
            }

            &:nth-child(3) {
                width: 100%;
                transform: rotate(-135deg) translate(12px, 8px);
            }
        }
    }
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    /* navigation links list */
    .header__nav-list {
        justify-content: center;
        flex-direction: column;
        background-color: rgba(25, 23, 83, 0.95);
        transform: translate3d(100%, 0, 0);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        .header__nav-item {
            margin: 0 0 1rem 0;
            opacity: 0;
            transform: translate3d(60px, 0, 0);

            &:last-child {
                margin: 0;
            }
        }
    }

    /* show navigation menu */
    .header__navigation-active {
        .header__nav-list {
            transform: translate3d(0, 0, 0);
        }

        .header__nav-item {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        @for $i from 1 through 6 {
            .header__nav-item:nth-child(#{$i}) {
                transition: opacity 0.4s #{$i/8}s, transform 0.4s #{$i/8}s;
            }
        }
    }

    /* burger button */
    .header__nav-btn {
        display: block;
    }
}

/* tablets */
@media (max-width: $tablet) {
    .header__nav-item {
        .header__nav-link,
        .btn {
            font-size: 1.3rem;
        }
    }
}
