@import '../../../../styles/variables.scss';
@import '../../../../styles/components.scss';

.tokenIntro {
    @include introBackground;
}

.tokenIntro__inner {
    padding: 10rem 0 7rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.tokenIntro__title {
    max-width: 70%;
    color: $white;
    margin-left: auto;
    margin-right: auto;
}

.tokenIntro__subtitle {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.tokenIntro__link {
    padding: 0.75rem 4rem;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    .tokenIntro__title,
    .tokenIntro__subtitle {
        max-width: 80%;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    /* use smaller background */
    .tokenIntro {
        @include introBackgroundMobile;
    }

    .tokenIntro__title,
    .tokenIntro__subtitle {
        max-width: 100%;
    }
}
