@import '../../../../styles/variables.scss';

.tokenAbout__subsection {
    .container {
        position: relative;
    }
}

/* main content of a subsection */
.tokenAbout__subsection-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* hide an image and show it when it appears at user's viewport */
.tokenAbout__subsection-image {
    opacity: 0;
    transform: translate3d(0, 7rem, 0);
    transition: 0.5s ease;
}

/* individual settings for each subsection */
.tokenAbout__subsection-1 {
    background-color: #f2f2f2;

    .tokenAbout__subsection-inner {
        padding: 4rem 4rem 4rem 2rem;
    }

    .tokenAbout__subsection-text {
        width: 45%;
    }

    .tokenAbout__subsection-image {
        width: 50%;
    }
}

.tokenAbout__subsection-2 {
    .tokenAbout__subsection-inner {
        padding: 7rem 0 11rem;
    }

    .tokenAbout__subsection-text {
        width: calc(60% - 2rem);
    }

    .tokenAbout__subsection-image {
        width: 40%;
    }
}

/* allocation info */
.tokenAbout__allocation-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1.5rem;
    margin-top: 2rem;
}

.tokenAbout__allocation-item {
    display: flex;
    align-items: center;
    width: calc(50% - 0.5rem);
    padding: 1rem 0.75rem;
    box-shadow: 0 0.5rem 1rem rgba($light-blue, 0.2);
    border-radius: 1rem;

    &:nth-child(5) {
        width: calc(45% - 0.5rem);
    }

    &:nth-child(6) {
        width: calc(55% - 0.5rem);
    }
}

.tokenAbout__allocation-icon {
    width: 1.5rem;
    margin-right: 0.75rem;
}

.tokenAbout__allocation-text {
    color: $blue;
}

.tokenAbout__allocation-percentage {
    margin-left: auto;
    color: $light-blue;
}

/* individual settings for each subsection */
.tokenAbout__subsection-3 {
    .tokenAbout__subsection-inner {
        padding-bottom: 10rem;
    }

    .tokenAbout__subsection-image {
        width: 45%;
    }

    .tokenAbout__subsection-text {
        width: calc(55% - 2rem);
    }
}

.tokenAbout__subsection-4 {
    background-color: $blue;

    .tokenAbout__subsection-inner {
        padding: 4rem 4rem 4rem 2rem;
    }

    .tokenAbout__subsection-text {
        width: 45%;

        .title {
            color: $white;
        }
    }

    .tokenAbout__subsection-image {
        width: 50%;
    }
}

.tokenAbout__subsection-5 {
    .tokenAbout__subsection-inner {
        padding: 3rem 0 7rem;
    }

    .tokenAbout__subsection-image {
        width: 35%;
    }

    .tokenAbout__subsection-text {
        width: 50%;
    }
}

/* information about the token */
.tokenAbout__tokenInfo {
    margin-top: 2rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #eaf3ff;
    border-radius: 1rem;
}

.tokenAbout__tokenInfo-item {
    display: flex;
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.tokenAbout__tokenInfo-field {
    color: $light-blue;
}

.tokenAbout__tokenInfo-value {
    width: 50%;
    margin-left: auto;
    color: $blue;
    text-align: left;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    /* main content of a subsection */
    .tokenAbout__subsection-inner {
        flex-wrap: wrap;
        justify-content: center;

        .tokenAbout__subsection-text {
            width: 80%;
            text-align: center;

            .suptitle {
                margin-right: auto;
                margin-left: auto;
            }
        }

        .tokenAbout__subsection-image {
            width: 60%;
            margin-top: 3rem;
        }
    }

    /* individual settings for each subsection */
    .tokenAbout__subsection-1,
    .tokenAbout__subsection-4 {
        .tokenAbout__subsection-inner {
            padding: 4rem 2rem;
        }
    }

    .tokenAbout__subsection-2 {
        .tokenAbout__subsection-inner {
            padding: 5rem 0;
        }
    }

    .tokenAbout__subsection-3 {
        .tokenAbout__subsection-inner {
            flex-wrap: wrap-reverse;
            padding-bottom: 5rem;
        }
    }

    .tokenAbout__subsection-5 {
        .tokenAbout__subsection-inner {
            flex-wrap: wrap-reverse;
            padding-bottom: 5rem;
        }
    }
}

/* tablets */
@media (max-width: $tablet) {
    .tokenAbout__subsection-inner {
        .tokenAbout__subsection-text {
            width: 100%;
        }

        .tokenAbout__subsection-image {
            width: 100%;

            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .tokenAbout__subsection-5 {
        .tokenAbout__subsection-image {
            width: 60%;
        }
    }
}

/* mobile phones */
@media (max-width: $phone) {
    .tokenAbout__subsection-1,
    .tokenAbout__subsection-4 {
        .tokenAbout__subsection-inner {
            padding: 3rem 1rem;
        }
    }

    .tokenAbout__subsection-2 {
        .tokenAbout__subsection-inner {
            padding-bottom: 3rem;
        }

        .tokenAbout__allocation-item {
            width: 90%;
            margin: 0 auto;
        }

        .tokenAbout__subsection-image {
            width: 80%;
        }
    }

    .tokenAbout__subsection-5 {
        .tokenAbout__subsection-image {
            width: 80%;
        }
    }
}
