@import './variables.scss';

/* main size container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* prevent scrolling (usually when menu or modal window is shown) */
.no-scroll {
    overflow: hidden !important;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    .btn {
        font-size: 0.9rem;
    }
}

/* tablets */
@media (max-width: $tablet) {
    .section-title {
        text-align: center;
    }
}
