@import './variables.scss';

/* main size container */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* prevent scrolling (usually when menu or modal window is shown) */
.no-scroll {
    overflow: hidden !important;
}

/* buttons */
.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    color: $white;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 12px;
    font-size: 0.9rem;
    line-height: 120%;
    text-align: center;
    transition: $transitionRegular;
    cursor: pointer;

    &.btn-primary {
        background-color: $light-blue;
    }

    &.btn-secondary {
        border-color: $light-blue;
    }

    &:hover,
    &:focus {
        color: $light-blue;
        background-color: $white;
        border-color: $light-blue;
    }
}
