/* screen sizes */
$smallScreen: 1024px;
$tablet: 768px;
$phone: 576px;

/* colors */
$white: #ffffff;
$light-blue: rgb(56, 134, 250);
$blue: #191753;

/* fonts */
$poppins: 'Poppins', sans-serif;

/* animations */
$transitionRegular: 0.3s ease;
